.zr-accordion-tree{
    display: inline-flex;
    margin-left: -1px;
    overflow: auto;

    &.actived{
        &>.data-view>.data-list{
            border-top-color: #f0ad4e !important;
        }
    }
    
    &>.data-view{
        position: relative;
        width: 200px;
        min-width: 200px;
        .data-list{
            height: fit-content;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            border: 1px solid #cccccc;
            /*
            &>li:first-child{
                border-radius: 3px 3px 0px 0px;
            }
            &>li:last-child{
                border-radius: 0px 0px 3px 3px;
            }*/
        }
        .no-data{
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px;
            margin: 5px;
            width: 100%;
            color: #cac5c5;
        }
    }
}